/* Fuentes */

@font-face {
    font-family: "Just-Regular";
    src: url(../fonts/Just_Me_Again_Down_Here/JustMeAgainDownHere-Regular.ttf);
}

@font-face {
    font-family: "Karla-light";
    src: url(../fonts/Karla/Karla-Italic-VariableFont_wght.ttf);
}

@font-face {
    font-family: "Karla-Bold";
    src: url(../fonts/Karla/Karla-Italic-VariableFont_wght.ttf);
}

* {
    margin: 0;
    padding: 0;
}

body h1,
h2,
h3 {
    font-family: "Just-Regular";
    font-weight: 200;
}

body p {
    font-family: "Karla-light";
}

/* Header*/

header {
    display: flex;
    background-color: #63717f;
    align-items: center;
    height: 100px;
    justify-content: space-between;
    padding: 1%;
}

.home {
    padding-left: 3%;
}

nav {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: aquamarine;
    justify-content: end;
    padding-right: 2%;
}

header img {
    height: 50px;
}


.nav-icons {
    display: flex;
    align-items: center;
    background-color: blue;
    align-items: center;

}

.search-box {
    width: 300px;
    height: 50px;
    background-color: red;
    padding-right: 30%;

}

.container-1 {
    vertical-align: middle;
    white-space: nowrap;
    position: relative;

}

.container-1 input#search {
    width: 300px;
    height: 50px;
    background: #E6E6E6;
    border: none;
    font-size: 20px;
    float: left;
    color: #63717f;
    padding-left: 45px;
    border-radius: 5px;

}


.container-1 .icon {
    position: absolute;
    top: 50%;
    margin-left: 17px;
    margin-top: 17px;
    z-index: 1;
    color: #4f5b66;
}

/* .container-1 input#search:hover,
.container-1 input#search:focus,
.container-1 input#search:active {
    outline: none;
    background: #ffffff;
} */


/* Main*/

/* Main-Section1*/

.section1 h2 {
    font-size: 2.5em;
    padding-bottom: 3%;

}
.section1 {
    display: flex;
    flex-direction: column;
    }
    
    .section1 p {
        text-align: left;
}

.section1 img {
    width: 50%;
}

.sect1-art1 {
    display: flex;
    align-items: center;
    background-color: #E2AE27;
}

.sect1-art1-text {
    display: flex;
    flex-direction: column;
    padding: 0% 10% 5% 5%
}

.sect1-art2 {
    display: flex;
    align-items: center;
    background-color: #EB5252;
}

.sect1-art2-text {
    display: flex;
    flex-direction: column;
    padding: 0% 5% 10% 5%
}

/* Main-Section2*/

.section2 h1 {
    text-align: center;
    font-size: 3em;
    }
    
    .section2 p {
        text-align: center;
}

.section2 img {
    width: 150px;
        padding-bottom: 5%;
}

.sect2-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5%;
}

.sect2-art {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5%;
}

.sect2-art h2 {
    font-size: 1.8em;
}
/* Main-Section3*/

.section3 {
    background-color: black;
    padding: 10%;
    color: white;
    display: flex;
    flex-direction: column;
}

.sect3-images {
    display: flex;
    align-items: center;
    justify-content: center;

}

.sect3-images img {
    width: 33%;
    border-radius: 100%;
    border: 2px solid white;
    margin-right: 2%;
}

.sect3-art {
    display: flex;
}

.sect3-art-text {
    display: flex;
    flex-direction: column;
    width: 70%;
}

.sect3-ghost {
    width: 30%;
}

.sect3-art img {
    width: 20%;
    padding: 10%;
}


/* Main-Section4*/
.div-sect4 {
    display: flex;
    padding: 2%;
    align-items: center;
    justify-content: space-between;
}

.div-sect4-art {
    width: 25%;
    display: flex;
    flex-direction: column;

}

.div-sect4-art img {
    width: 80%;
    border-radius: 100%;
}

.div-sect4-art h3 {
    text-align: center;
}

/* Main-Section5*/
.section5 {
    background-image: url(/img/landscape-balls.png);
    background-size: cover;
    height: 700px;
    display: flex;
    padding: 10%;
}

.sect5-art {
    background-color: white;
    width: 50%;
    height: auto;
    padding: 2%;
    border-radius: 25px;
    padding: 5%;

}
/* Footer*/