/* Fuentes */

@font-face {
    font-family: "Just-Regular";
    src: url(../fonts/Just_Me_Again_Down_Here/JustMeAgainDownHere-Regular.ttf);
}

@font-face {
    font-family: "Karla-Light";
    src: url(../fonts/Karla/Karla-Italic-VariableFont_wght.ttf);
}

@font-face {
    font-family: "Karla-Bold";
    src: url(../fonts/Karla/Karla-VariableFont_wght.ttf);
}

* {
    margin: 0;
    padding: 0;
}

body h1,
h2,
h3 {
    font-family: "Just-Regular";
    font-weight: 200;
}

body p {
    font-family: "Karla-Light";
}

/* Header*/

header {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100px;
    justify-content: space-between;
    padding: 1%;
}

.home {
    width: 30%;
    padding-left: 3%;
    padding-right: 3%;
}

nav {
    height: 100%;
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: end;
    padding-right: 5%;
}

header img {
    height: 50px;
}

.search-box {
    margin: 100px auto;
    width: 300px;
    height: 50px;
}

.container-1 {
    vertical-align: middle;
    white-space: nowrap;
    position: relative;
}

.container-1 input#search {
    width: 300px;
    height: 50px;
    background: #E6E6E6;
    border: none;
    font-size: 10pt;
    float: left;
    color: black;
    padding-left: 45px;
    border-radius: 5px;
    font-family: "Karla-Bold";
    font-size: 1.3em;
}


.container-1 .icon {
    position: absolute;
    top: 50%;
    margin-left: 17px;
    margin-top: 17px;
    z-index: 1;
    color: black;
    font-size: 1.3em;
}

.container-1 input#search:hover,
.container-1 input#search:focus,
.container-1 input#search:active {
    outline: none;
    background: #ffffff;
}


/* Main*/

/* Main-Section1*/

.section1 h2 {
    font-size: 2.5em;
    padding-bottom: 3%;

}

.section1 {
    display: flex;
    flex-direction: column;
}

.section1 p {
    text-align: left;
}

.section1 img {
    width: 50%;
}

.sect1-art1 {
    display: flex;
    align-items: center;
    background-color: #E2AE27;
}

.sect1-art1-text {
    display: flex;
    flex-direction: column;
    padding: 0% 10% 5% 5%
}

.sect1-art2 {
    display: flex;
    align-items: center;
    background-color: #EB5252;
}

.sect1-art2-text {
    display: flex;
    flex-direction: column;
    padding: 0% 5% 10% 5%
}

/* Main-Section2*/

.section2 h1 {
    text-align: center;
    font-size: 6em;
    padding: 1%;

}

.section2 p {
    text-align: center;
    font-size: 1.6em;
    padding: 3%;

}

.section2 img {
    width: 150px;
    padding-bottom: 7%;
}

.sect2-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1%;
}

.sect2-art {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5%;
}

.sect2-art h2 {
    font-size: 2.5em;
}

/* Main-Section3*/


.section3 {
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: black;
    color: white;
}

.sect3-images {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10% 15% 0% 15%;
}

.sect3-images img {
    width: 33%;
    border-radius: 100%;
    border: 10px solid white;
    margin-right: 5%;
}

.sect3-art {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5% 10%;
}

.sect3-art-text {
    display: flex;
    flex-direction: column;
    width: 75%;
}

.sect3-art-text h2 {
    font-size: 3.1em;
}

.sect3-art-text p {
    font-size: 1.3em;
    font-weight: 100;
}


.sect3-art img {
    width: 10%;
    padding-right: 2%;
}


/* Main-Section4*/
.section4 h2 {
    font-size: 3em;
    text-align: center;
    font-weight: 100;
}

.div-sect4 {
    display: flex;
    padding: 2%;
    align-items: center;
    justify-content: space-between;
}

.div-sect4-art {
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.div-sect4-art img {
    width: 80%;
    border-radius: 100%;
}

.div-sect4-art h3 {
    text-align: center;
    font-size: 3em;
    font-weight: 100;
    padding: 5% 0;
}

.btn-sect4 {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #41E227;
    border-radius: 5px;
    border: none;
    width: 80%;
}

.btn-sect4 span {
    font-family: "Just-Regular";
    font-size: 2.5em;
    font-weight: 100;
}

.btn-sect4 img {
    width: 30px;
}

/* Main-Section5*/
.section5 {
    background-image: url(/img/landscape-balls.png);
    background-size: cover;
    height: 700px;
    display: flex;
    padding: 10%;
}

.sect5-art {
    background-color: white;
    width: 28%;
    height: 58%;
    padding: 2%;
    border-radius: 25px 25px 25px 0;
    padding: 7%;
}

.sect5-art h2 {
    font-size: 3.8em;
    text-align: center;
    font-weight: 300;
    padding-bottom: 3%;
}

.sect5-art p {
    font-size: 1.5em;
    font-family: "Karla-Bold";
    text-align: left;
    padding-right: 4%;
}

/* Footer*/
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 500px;

}

.footer-black {
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 75%;
}

.footer-black-img img {
    width: 150px;
}


.footer-black-list ul {
    display: flex;
    flex-direction: column;
    color: #E6E6E6;
    list-style: none;
}

.footer-black-list a {
    text-decoration: none;
    font-family: "Karla-Bold";
    font-weight: 400;
    font-size: 1.3em;
    padding-bottom: 100%;
}

.footer-black-list li {
    padding-bottom: 20%;
}

.green {
    color: #41E227;
}

.red {
    color: #EB5252
}

.yellow {
    color: #E2AE27;
}

.hr-red {
    height: 50%;
    border-color: #EB5252;
}

.hr-yellow {
    height: 50%;
    border-color: #E2AE27;
}

.footer-white {
    height: 25%;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.footer-white h3 {
    font-size: 2em;
    width: 40%;
}

.social-media {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40%;
}

.social-media img {
    margin-right: 30px;
}


/* Estilos tablet */

@media (max-width:920px) {
    body {
        background-color: aqua;
    }

}


/* Estilos movil */
@media (max-width:680px) {}