/* Fuentes */

@font-face {
    font-family: "Just-Regular";
    src: url(../fonts/Just_Me_Again_Down_Here/JustMeAgainDownHere-Regular.ttf);
}

@font-face {
    font-family: "Karla-Light";
    src: url(../fonts/Karla/Karla-Italic-VariableFont_wght.ttf);
}

@font-face {
    font-family: "Karla-Bold";
    src: url(../fonts/Karla/Karla-VariableFont_wght.ttf);
}

* {
    margin: 0;
    padding: 0;
}

body h1,
h2,
h3 {
    font-family: "Just-Regular";
    font-weight: 200;
}

body p {
    font-family: "Karla-Light";
}

/* Header*/

header {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100px;
    justify-content: space-between;
    padding: 1%;
    position: fixed;
    background-color: white;
    box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.home {
    width: 30%;
    padding-left: 3%;
    padding-right: 3%;
}

nav {
    height: 100%;
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: end;
    padding-right: 5%;
}

header img {
    height: 50px;
    filter: brightness(0)
}

.search-box {
    margin: 100px auto;
    width: 300px;
    height: 50px;
}

.container-1 {
    vertical-align: middle;
    white-space: nowrap;
    position: relative;
}

.container-1 input#search {
    width: 300px;
    height: 50px;
    background: #E6E6E6;
    border: none;
    font-size: 10pt;
    float: left;
    color: black;
    padding-left: 45px;
    border-radius: 5px;
    font-family: "Karla-Bold";
    font-size: 1.3em;
}


.container-1 .icon {
    position: absolute;
    top: 50%;
    margin-left: 17px;
    margin-top: 17px;
    z-index: 1;
    color: black;
    font-size: 1.3em;
}

.container-1 input#search:hover,
.container-1 input#search:focus,
.container-1 input#search:active {
    outline: none;
    background: #ffffff;
}


/* Main*/
main {
    padding-top: 5%;
}

/* Main-Section1*/

.section1 {
    padding-top: 2%;
}

.section1 h1 {
    text-align: center;
    font-size: 4em;
    padding: 1%;
}

.section1 hr {
    background-color: #E2AE27;
    height: 20px;
    color: #E2AE27;
    border: none
}

.sect1-art1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5% 10%;
}

.sect1-text {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.sect1-art1 img {
    width: 20%;
    filter: brightness(0)
}

.sect1-text h2 {
    font-size: 3em;
}

.sect1-text p {
    text-align: left;
    font-size: 1.4em;
    padding: 3%;
}

/* Main-Section2*/

.section2 h1 {
    text-align: center;
    font-size: 6em;
    padding: 3%;
}

.sect2-art a {
    text-decoration: none;
    color: black;
    font-size: 2em;
    text-align: center;
}

.sect2-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 1%
}

.sect2-art {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 4%;
}

.sect2-art img {
    width: 100%;
    border-radius: 100%;
}

.sect2-art:hover {
    border-radius: 3%;
    transform: scale(1.4);
    filter: brightness(1.7) saturate(1.2);
    background-color: #41E227;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}


/* Main-Section3*/

/* ------- Up and down tilt -------- */
.tilt-top {
    background-color: black;
    width: 100%;
    height: 150px;
    transform: skewY(-3deg);
    margin-bottom: -50px;
    z-index: -1;
}

.tilt-bottom {
    background-color: black;
    width: 100%;
    height: 150px;
    transform: skewY(-3deg);
    margin-top: -50px;
    z-index: -1;
}


.sect3 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    color: white;
    width: 90%;
    height: 500px;
    padding: 2% 5%;
}

.sect3-text {
    display: flex;
    flex-direction: column;
    width: 60%;
}

.sect3-text h2 {
    font-size: 3.1em;
}

.sect3-text p {
    font-size: 1.3em;
    font-weight: 100;
}

.sect3-img {
    display: flex;
    justify-content: center;
    width: 40%;
}

.sect3-img img {
    width: 30%;
}

/* ghost animation Section3*/

.sect3-img img:hover {
    cursor: pointer;
    position: center;
    justify-content: center;
    align-items: center;
    display: flex;
    animation: float 5s infinite alternate ease-in-out;

}

.sect3-img img:active {
    cursor: pointer;
    position: center;
    justify-content: center;
    align-items: center;
    display: flex;
    animation: float 5s infinite alternate ease-in-out;
    background: radial-gradient(circle at center, rgba(255, 0, 0, 1) 0%, rgba(255, 0, 0, 1) 5%, rgba(255, 0, 0, 0) 50%);
    border-radius: 10%;
}

@keyframes float {

    0%,
    100% {
        transform: translateY(0) translateX(0);
    }

    25% {
        transform: translateY(-10%) translateX(10%);
    }

    50% {
        transform: translateY(0) translateX(-10%);
    }

    75% {
        transform: translateY(-10%) translateX(10%);
    }
}

/* Main-Section4*/

.section4 {
    box-sizing: border-box;
    background-image: url(/img/landscape-balls.png);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 1000px;
}

.subscribe {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.form-register {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 400px;
    width: 100%;
    background-color: #E2AE27;
    padding: 10%;
    margin: auto;
    margin-top: 50px;
    border-radius: 4px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-shadow: 7px 13px 37px black;
}

.form-register h1 {
    font-family: "Karla-Light";
    text-transform: uppercase;
    font-weight: 800;
    font-size: 3em;
    margin-bottom: 20px;
    text-align: center;
}

.form-register h2 {
    font-family: "Karla-Bold";
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1.5em;
    margin-bottom: 20px;
    text-align: center;
    padding-bottom: 5%;

}

.form-group {
    display: flex;
    flex-direction: column;
    padding: 3%;
    width: 80%;
}

.form-group input {
    width: 100%;
    height: 40px;
    border-radius: 5px;
    align-items: center;
    border-color: transparent;
}

.form-group label {
    text-transform: uppercase;
}

.label-form h2 {
    font-weight: 600;
}

.div-label {
    display: flex;
    align-items: flex-end;
    justify-content: baseline;
}

.div-label h3 {
    text-transform: uppercase;
    font-family: "Karla-Bold";
    font-weight: 600;
}

.img-form {
    width: 10%;
}


.btn-sect4 {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: black;
    border-radius: 5px;
    border: none;
    width: 50%;
}

.btn-sect4 span {
    font-family: "Just-Regular";
    font-size: 2.5em;
    font-weight: 100;
    color: white;
}

.btn-sect4 img {
    width: 30px;
    filter: invert(1);
}

.btn-sect4:hover {
    background-color: #41E227;
}


/* Footer*/
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 500px;
}

.footer-black {
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 75%;
}

.footer-black-img img {
    width: 150px;
}

.footer-black-img img:hover {
    cursor: pointer;
    transform: rotateX(180deg);
    transition: 2s;
}


.footer-black-list ul {
    display: flex;
    flex-direction: column;
    color: #E6E6E6;
    list-style: none;
}

.footer-black-list a {
    text-decoration: none;
    font-family: "Karla-Bold";
    font-weight: 400;
    font-size: 1.3em;
    padding-bottom: 100%;
}

.footer-black-list li {
    padding-bottom: 20%;
}

.green {
    color: #41E227;
}

.red {
    color: #EB5252
}

.yellow {
    color: #E2AE27;
}

.green:hover {
    color: black;
    background-color: #41E227;
    padding: 0;
}

.red:hover {
    color: black;
    background-color: #EB5252;
    padding: 0;
}

.yellow:hover {
    color: black;
    background-color: #E2AE27;
    padding: 0;
}


.hr-red {
    height: 50%;
    border-color: #EB5252;
}

.hr-yellow {
    height: 50%;
    border-color: #E2AE27;
}

.footer-white {
    height: 25%;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-white h3 {
    font-size: 2em;
    width: 40%;
}

.social-media {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40%;
}

.social-media img {
    width: 90%;
}

.social-media img:hover {
    width: 120%;
    background-color: #41E227;
    border-radius: 40%;
}


/* Estilos tablet */

@media (max-width:920px) {
    body {
        background-color: aqua;
    }

    .sect3-img img {
        width: 70%;
    }

    .footer-black {
        display: flex;
        flex-direction: column-reverse;
        height: auto;
        padding: 2%;
    }

    .hr-red,
    .hr-yellow {
        width: 80%;
        margin-bottom: 2%;
    }

}




/* Estilos movil */
@media (max-width:680px) {
    body {
        background-color: pink;
    }

    .section1 {
        padding: 10% 1%;
        display: flex;
        flex-direction: column;
    }

    .section1 h1 {
        font-size: 3em;
    }

    .sect1-art1 {
        display: flex;
        flex-direction: column-reverse;
        width: 80%;
    }

    .sect1-art1 img {
        width: 50%;
    }

    .sect1-text h2 {
        line-height: 40px;
    }

    .sect1-text {
        font-size: 1em;
        padding: 0.5%;
        text-align: center;
        width: 100%;
    }

    .section2 h1 {
        font-size: 3em;
    }

    .sect2-container {
        display: flex;
        flex-direction: column;
    }

    .sect3 {
        display: flex;
        flex-direction: column-reverse;
        height: auto;
    }

    .sect3-text {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 60%;
        padding: 10% 2%;
        width: 100%;
    }

    .sect3-text h2 {
        font-size: 3.1em;
    }

    .sect3-text p {
        width: 100%;
        font-size: 1.3em;
        font-weight: 100;
    }

    .sect3-img {
        display: flex;
        justify-content: center;
        width: 60%;
        padding-top: 10%;
    }

    .subscribe {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 90%;
    }


    .footer-white h3 {
        font-size: 1.6em;
        width: 30%;
    }

    .footer-white {
        height: 25%;
        width: 90%;
        display: flex;
        align-items: center;
        justify-content: space-between;

    }

    .social-media {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 60%;
    }

    .social-media img {
        width: 100%;
    }
}